<h2>Add New Urgh.</h2>
<p>
  <form action="/new" method="post" role="form">
    <textarea class="form-control" rows="6" placeholder="Urgh Here!!!"></textarea>
    <br/>
    <button type="button" class="btn btn-success">Submit</button>
  </form>
</p>
